<div class="container" *ngIf="film">
  <h1>{{film.title}}</h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="{{film.image_path}}" alt="" class="w-100">
    </div>
    <div class="col-12 col-md-8 bordes px-5">
      <h3 class="mt-2">Información</h3>
      <p><span class="details-color">Desde</span> {{film.releaseYear}}</p>
      <p><span class="details-color">Dirigida por</span> {{film.director}}</p>
      <p><span class="details-color">Género</span> {{film.genre}}</p>
      <p><span class="details-color">Reparto</span> {{film.cast}}</p>
    </div>
  </div>
  <br>
  <h2>Sinopsis</h2>
  <p class="text-justify">{{film.synopsis}}</p>
  <br>
  <div class="row justify-content-center">
    <iframe class="col-12 col-md-8 border-0" height="400px"  [src]="film.trailer | safe" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
