<div class="comments-container">
  <h1>Comentarios</h1>

  <ul id="comments-list" class="comments-list">
    <li *ngFor="let review of reviews; let i=index"  class="mb-2">
      <div class="comment-main-level">
        <!-- Contenedor del Comentario -->
        <div class="comment-box mx-auto">
          <div class="comment-head">
            <h6 class="comment-name">Comentario #{{i+1}}</h6>
            <span>Publicado el {{review.createdAt | date: 'dd-MM-yyyy hh:mm'}}</span>
          </div>
          <div class="comment-content">
            {{review.content}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
