<div class="container bg-gray py-3">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
    <div class="d-flex flex-wrap">

      <div class="col-md-6 col-12">

        <div class="my-2">
          <div class="row">
            <label for="name">Nombre</label>
          </div>

          <div class="row">
            <input formControlName="name" class="w-50" type="text" id="name">
          </div>
        </div>

        <div class="row" *ngIf="FormControl.name.invalid && FormControl.name.touched">
          <small class="text-danger" *ngIf="FormControl.name.errors.required">
            Este campo es obligatorio.
          </small>
        </div>

        <div class="my-2">
          <div class="row">
            <label for="lastName">Apellidos</label>
          </div>

          <div class="row">
            <input formControlName="lastName" class="w-50" type="text" id="lastName">
          </div>
        </div>

        <div class="row" *ngIf="FormControl.lastName.invalid && FormControl.lastName.touched">
          <small class="text-danger" *ngIf="FormControl.lastName.errors.required">
            Este campo es obligatorio.
          </small>
        </div>

        <div class="my-2">
          <div class="row">
            <label for="email">Email</label>
          </div>

          <div class="row">
            <input formControlName="email" class="w-50" type="text" id="email">
          </div>
        </div>

        <div class="row" *ngIf="FormControl.lastName.invalid && FormControl.lastName.touched">
          <small class="text-danger" *ngIf="FormControl.lastName.errors.required">
            Este campo es obligatorio.
          </small>
        </div>

        <div class="my-2">
          <div class="row">
            <label for="password">Contraseña</label>
          </div>

          <div class="row">
            <input formControlName="password" class="w-50" id="password"
                   [type]="getSeePassword() ? 'text' : 'password'">
            <span (click)="toggleSeePassword()">
              <fa-icon [icon]="getSeePassword() ? faEyeSlash : faEye"></fa-icon>
            </span>
          </div>
        </div>

        <div class="row" *ngIf="FormControl.password.invalid && FormControl.password.touched">
          <small class="text-danger" *ngIf="FormControl.password.errors.required">
            Este campo es obligatorio.
          </small>
          <small class="text-danger" *ngIf="FormControl.password.errors.minlength">
            La contraseña debe tener al menos 6 caracteres.
          </small>
        </div>

        <div class="my-2">
          <div class="row">
            <label for="role">Rol</label>
          </div>

          <div class="row">
            <select id="role" formControlName="role" class="form-control w-50">
              <option value="">Selecciona uno</option>
              <option value="1">Administrador</option>
              <option value="2">Profesor</option>
              <option value="3">Estudiante</option>
            </select>
          </div>
        </div>

        <div class="row" *ngIf="FormControl.role.invalid && FormControl.role.touched">
          <small class="text-danger" *ngIf="FormControl.role.errors.required">
            Este campo es obligatorio.
          </small>
        </div>

        <div class="my-2">
          <div class="row">
            <label for="category">Categoría</label>
          </div>

          <div class="row">
            <input formControlName="category" class="w-50" type="text" id="category">
          </div>
        </div>

        <div class="row" *ngIf="FormControl.category.invalid && FormControl.category.touched">
          <small class="text-danger" *ngIf="FormControl.category.errors.required">
            Este campo es obligatorio.
          </small>
        </div>

        <div class="my-2">
          <div class="row">
            <label for="information">Datos adicionales</label>
          </div>

          <div class="row">
            <textarea formControlName="information" class="w-50" id="information"></textarea>
          </div>
        </div>

      </div>


      <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
        <div>
          <div class="row justify-content-center">
            <img src="assets/images/descarga.png" alt="user-imagen">
          </div>
          <div class="row justify-content-center">
            <input type="file" class="btn btn-dark my-3">
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success mr-5">Crear</button>
      <button [routerLink]="['/users/list']" class="btn btn-danger">Cancelar</button>
    </div>
  </form>
</div>
