<div class="container bg-gray py-3">
  <form *ngIf="series" [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)" class="mx-2">
    <div class="form-row">

      <div class="form-group col-md-6 col-12">
        <div class="row"><label for="title">Título</label></div>
        <div class="row"><input formControlName="title" class="w-75" type="text" id="title"></div>
        <div class="row" *ngIf="FormControl.title.invalid && FormControl.title.touched">
          <small class="text-danger" *ngIf="FormControl.title.errors.required">
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 col-12">
        <div class="row"><label for="trailer">URL tráiler</label></div>
        <div class="row"><input formControlName="trailer" class="w-75" type="text" id="trailer"></div>
        <div class="row" *ngIf="FormControl.trailer.invalid && FormControl.trailer.touched">
          <small class="text-danger" *ngIf="FormControl.trailer.errors.required">
            Este campo es obligatorio.
          </small>
          <small class="text-danger" *ngIf="FormControl.trailer.errors.pattern">
            La url introducida no es válida.
          </small>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 col-12">
        <div class="row"><label for="director">Director</label></div>
        <div class="row"><input formControlName="director" class="w-75" type="text" id="director"></div>
        <div class="row" *ngIf="FormControl.director.invalid && FormControl.director.touched">
          <small class="text-danger" *ngIf="FormControl.director.errors.required">
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 col-12">
        <div class="row"><label for="releaseYear">Año</label></div>
        <div class="row"><input formControlName="releaseYear" class="w-75" type="number" min="1888" id="releaseYear"></div>
        <div class="row" *ngIf="FormControl.releaseYear.invalid && FormControl.releaseYear.touched">
          <small class="text-danger" *ngIf="FormControl.releaseYear.errors.required">
            Este campo es obligatorio y debe ser numérico.
          </small>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 col-12">
        <div class="row"><label for="cast">Reparto</label></div>
        <div class="row"><input formControlName="cast" class="w-75" type="text" id="cast"></div>
        <div class="row" *ngIf="FormControl.cast.invalid && FormControl.cast.touched">
          <small class="text-danger" *ngIf="FormControl.cast.errors.required">
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div class="form-group col-md-3 col-12">
        <div class="row"><label for="seasons">Temporadas</label></div>
        <div class="row"><input formControlName="seasons" class="w-75" type="number" id="seasons"></div>
        <div class="row" *ngIf="FormControl.seasons.invalid && FormControl.seasons.touched">
          <small class="text-danger" *ngIf="FormControl.seasons.errors.required">
            Este campo es obligatorio y debe ser numérico.
          </small>
        </div>
      </div>
      <div class="form-group col-md-3 col-12">
        <div class="row"><label for="cast">Episodios</label></div>
        <div class="row"><input formControlName="episodes" class="w-75" type="number" id="episodes"></div>
        <div class="row" *ngIf="FormControl.episodes.invalid && FormControl.episodes.touched">
          <small class="text-danger" *ngIf="FormControl.episodes.errors.required">
            Este campo es obligatorio y debe ser numérico.
          </small>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 col-12">
        <div class="row"><label for="image_path">URl de imagen</label></div>
        <div class="row"><input formControlName="image_path" class="w-75" type="text" id="image_path"></div>
        <div class="row" *ngIf="FormControl.image_path.invalid && FormControl.image_path.touched">
          <small class="text-danger" *ngIf="FormControl.image_path.errors.required">
            Este campo es obligatorio y debe ser numérico.
          </small>
        </div>
      </div>

      <div class="form-group col-md-6 col-12">
        <div class="row"><label for="genre">Género</label></div>
        <div class="row">
          <select id="genre" formControlName="genre" class="form-control w-75">
            <option value="">Selecciona uno</option>
            <option value="Acción">Acción</option>
            <option value="Animación">Animación</option>
            <option value="Aventura">Aventura</option>
            <option value="Comedia">Comedia</option>
            <option value="Ciencia ficción">Ciencia ficción</option>
            <option value="Drama">Drama</option>
            <option value="Terror">Terror</option>
          </select>
        </div>
        <div class="row" *ngIf="FormControl.genre.invalid && FormControl.genre.touched">
          <small class="text-danger" *ngIf="FormControl.genre.errors.required">
            Este campo es obligatorio.
          </small>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <div class="row"><label for="synopsis">Sinopsis</label></div>
        <div class="row"><textarea formControlName="synopsis" class="w-100" rows="6" type="text" id="synopsis"></textarea></div>
        <div class="row" *ngIf="FormControl.synopsis.invalid && FormControl.synopsis.touched">
          <small class="text-danger" *ngIf="FormControl.synopsis.errors.required">
            Este campo es obligatorio.
          </small>
        </div>
      </div>
    </div>
    <div class="row justify-content-center div-img mb-2" style="height: 200px" *ngIf="series.image_path">
      <img class="imagen" [src]="series.image_path" alt="series-image">
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success mr-5">Crear</button>
      <button type="button" [routerLink]="['/admin/series']" class="btn btn-danger">Cancelar</button>
    </div>
  </form>
</div>
