/* You can add global styles to this file, and also import other style files */
.bg-gray{
  background-color: #e5e5e5
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
  width: 100%;
}
.div-img{
  height: calc(13vw - 10px);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.imagen{
  height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  object-fit: cover;
  width: 100%;
}
.slick-prev:before {
  color: gray !important;
}
.slick-next:before {
  color: gray !important;
}

